.Image {
	overflow: hidden;
	position: relative;
	&::before {
		content: "";
		display: block;
		padding-top: 100%; }
	&__main {
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%; } }